@if (field.visible) {

  <po-input
    *ngIf="compareTo(field.control, 'input')"
    #component
    [name]="field.property"
    [formControl]="control"
    [ngClass]="field.componentClass"
    [additionalHelpEventTrigger]="field.additionalHelp ? 'event' : 'noEvent'"
    [p-additional-help-tooltip]="field.additionalHelpTooltip"
    [p-clean]="field.clean"
    [p-disabled]="field.disabled || isDisabled(field)"
    [p-error-limit]="field.errorLimit"
    [p-error-async-properties]="field.errorAsyncProperties"
    [p-auto-focus]="field.focus"
    [p-help]="field.help"
    [p-label]="field.label"
    [p-mask-format-model]="field.maskFormatModel"
    [p-mask]="field.mask"
    [p-maxlength]="field.maxLength"
    [p-minlength]="field.minLength"
    [p-no-autocomplete]="field.noAutocomplete"
    [p-optional]="field.optional"
    [p-pattern]="field.pattern"
    [p-required]="field.required"
    [p-required-field-error-message]="true"
    [p-error-pattern]="field.errorMessage"
    [p-show-required]="field.showRequired"
    (p-additional-help)="field.additionalHelp?.($event)"
    (p-keydown)="field.keydown?.($event)"
    [p-icon]="field.icon"
    [p-placeholder]="field.placeholder"
    [p-readonly]="field.readonly"
    (p-change)="onChangeField(field)"
    (p-change-model)="onChangeFieldModel(field)"
  >
  </po-input>

  <po-datepicker
    #component
    *ngIf="compareTo(field.control, 'datepicker')"
    [name]="field.property"
    [formControl]="control"
    [ngClass]="field.componentClass"
    [additionalHelpEventTrigger]="field.additionalHelp ? 'event' : 'noEvent'"
    [p-additional-help-tooltip]="field.additionalHelpTooltip"
    [p-clean]="field.clean"
    [p-disabled]="isDisabled(field)"
    [p-error-pattern]="field.errorMessage"
    [p-error-limit]="field.errorLimit"
    [p-error-async]="field.errorAsyncFunction"
    [p-auto-focus]="field.focus"
    [p-format]="field.format"
    [p-help]="field.help"
    [p-iso-format]="field.isoFormat"
    [p-label]="field.label"
    [p-locale]="field.locale"
    [p-max-date]="field.maxValue"
    [p-min-date]="field.minValue"
    [p-no-autocomplete]="field.noAutocomplete"
    [p-optional]="field.optional"
    [p-readonly]="field.readonly"
    [p-required]="field.required"
    [p-show-required]="field.showRequired"
    (p-change)="onChangeField(field)"
    [p-placeholder]="field.placeholder"
    (p-additional-help)="field.additionalHelp?.($event)"
    [p-required-field-error-message]="field.requiredFieldErrorMessage"
    (p-keydown)="field.keydown?.($event)"
    >
  </po-datepicker>

  <po-datepicker-range
    #component
    *ngIf="compareTo(field.control, 'datepickerrange')"
    [name]="field.property"
    [formControl]="control"
    [ngClass]="field.componentClass"
    [additionalHelpEventTrigger]="field.additionalHelp ? 'event' : 'noEvent'"
    [p-additional-help-tooltip]="field.additionalHelpTooltip"
    [p-clean]="field.clean"
    [p-disabled]="isDisabled(field)"
    [p-auto-focus]="field.focus"
    [p-help]="field.help"
    [p-label]="field.label"
    [p-literals]="field.literals"
    [p-max-date]="field.maxValue"
    [p-min-date]="field.minValue"
    [p-no-autocomplete]="field.noAutocomplete"
    [p-optional]="field.optional"
    [p-readonly]="field.readonly"
    [p-required]="field.required"
    [p-field-error-message]="field.errorMessage"
    [p-error-limit]="field.errorLimit"
    [p-show-required]="field.showRequired"
    (p-additional-help)="field.additionalHelp?.($event)"
    (p-change)="onChangeField(field)"
    (p-keydown)="field.keydown?.($event)"
  >
  </po-datepicker-range>

  <po-select
    #component
    *ngIf="compareTo(field.control, 'select')"
    [ngClass]="field.componentClass"
    [name]="field.property"
    [formControl]="control"
    [additionalHelpEventTrigger]="field.additionalHelp ? 'event' : 'noEvent'"
    [p-additional-help-tooltip]="field.additionalHelpTooltip"
    [p-field-label]="field.fieldLabel"
    [p-field-value]="field.fieldValue"
    [p-help]="field.help"
    [p-disabled]="field.disabled || isDisabled(field)"
    [p-label]="field.label"
    [p-optional]="field.optional"
    [p-options]="field.options"
    [p-required]="field.required"
    [p-field-error-message]="field.errorMessage"
    [p-error-limit]="field.errorLimit"
    [p-show-required]="field.showRequired"
    (p-additional-help)="field.additionalHelp?.($event)"
    (p-keydown)="field.keydown?.($event)"
    [p-placeholder]="field.placeholder"
    [p-readonly]="field.readonly"
    (p-change)="onChangeField(field)"
  >
  </po-select>

  <po-radio-group
    *ngIf="compareTo(field.control, 'radioGroup')"
    #component
    [name]="field.property"
    [formControl]="control"
    [ngClass]="field.componentClass"
    [p-disabled]="field.disabled || isDisabled(field)"
    [additionalHelpEventTrigger]="field.additionalHelp ? 'event' : 'noEvent'"
    [p-additional-help-tooltip]="field.additionalHelpTooltip"
    [p-columns]="field.columns || 3"
    [p-auto-focus]="field.focus"
    [p-help]="field.help"
    [p-label]="field.label"
    [p-optional]="field.optional"
    [p-options]="field.options"
    [p-required]="field.required"
    [p-field-error-message]="field.errorMessage"
    [p-error-limit]="field.errorLimit"
    [p-show-required]="field.showRequired"
    [p-size]="field.size"
    (p-additional-help)="field.additionalHelp?.($event)"
    (p-keydown)="field.keydown?.($event)"
    (p-change)="onChangeField(field)"
  >
  </po-radio-group>

  <!-- [(ngModel)]="valueField" -->
  <po-lookup
    #component
    *ngIf="compareTo(field.control, 'lookup')"
    [name]="field.property"
    [formControl]="control"
    p-field-label="label"
    p-field-value="value"
    [ngClass]="field.componentClass"
    [additionalHelpEventTrigger]="field.additionalHelp ? 'event' : 'noEvent'"
    [p-additional-help-tooltip]="field.additionalHelpTooltip"
    [p-clean]="field.clean"
    [p-columns]="field.columns"
    [p-disabled]="field.disabled || isDisabled(field)"
    [p-field-label]="field.fieldLabel || 'label'"
    [p-field-value]="field.fieldValue || 'value'"
    [p-filter-params]="field.params"
    [p-filter-service]="field.searchService"
    [p-auto-focus]="field.focus"
    [p-auto-height]="field.autoHeight"
    [p-help]="field.help"
    [p-field-format]="field.format"
    [p-infinite-scroll]="field.infiniteScroll"
    [p-label]="field.label"
    [p-literals]="field.literals"
    [p-multiple]="field.multiple"
    [p-no-autocomplete]="field.noAutocomplete"
    [p-optional]="field.optional"
    [p-required]="field.required"
    [p-field-error-message]="field.errorMessage"
    [p-error-limit]="field.errorLimit"
    [p-show-required]="field.showRequired"
    [p-placeholder]="field.placeholder"
    [p-advanced-filters]="field.advancedFilters"
    (p-additional-help)="field.additionalHelp?.($event)"
    (p-change-visible-columns)="field.changeVisibleColumns?.($event)"
    (p-keydown)="field.keydown?.($event)"
    (p-restore-column-manager)="field.columnRestoreManager?.($event)"
    (p-change)="lookupChange($event, field)"
  >
  </po-lookup>

  <!-- [(ngModel)]="value[field.property]" -->
  <po-textarea
    #component
    [formControl]="control"
    *ngIf="compareTo(field.control, 'textarea')"
    [name]="field.property"
    [ngClass]="field.componentClass"
    [additionalHelpEventTrigger]="field.additionalHelp ? 'event' : 'noEvent'"
    [p-additional-help-tooltip]="field.additionalHelpTooltip"
    [p-disabled]="isDisabled(field)"
    [p-auto-focus]="field.focus"
    [p-help]="field.help"
    [p-label]="field.label"
    [p-maxlength]="field.maxLength"
    [p-minlength]="field.minLength"
    [p-optional]="field.optional"
    [p-readonly]="field.readonly"
    [p-required]="field.required"
    [p-field-error-message]="field.errorMessage"
    [p-error-limit]="field.errorLimit"
    [p-show-required]="field.showRequired"
    [p-rows]="field.rows"
    (p-additional-help)="field.additionalHelp?.($event)"
    (p-change)="onChangeField(field)"
    (p-keydown)="field.keydown?.($event)"
    [p-placeholder]="field.placeholder"
    (p-change-model)="onChangeFieldModel(field)"
  >
  </po-textarea>

  <po-number
    #component
    [formControl]="control"
    *ngIf="compareTo(field.control, 'number')"
    [name]="field.property"
    [ngClass]="field.componentClass"
    [additionalHelpEventTrigger]="field.additionalHelp ? 'event' : 'noEvent'"
    [p-additional-help-tooltip]="field.additionalHelpTooltip"
    [p-clean]="field.clean"
    [p-disabled]="isDisabled(field)"
    [p-error-pattern]="field.errorMessage"
    [p-error-limit]="field.errorLimit"
    [p-error-async-properties]="field.errorAsyncProperties"
    [p-auto-focus]="field.focus"
    [p-help]="field.help"
    [p-label]="field.label"
    [p-min]="field.minValue"
    [p-max]="field.maxValue"
    [p-maxlength]="field.maxLength"
    [p-minlength]="field.minLength"
    [p-no-autocomplete]="field.noAutocomplete"
    [p-optional]="field.optional"
    [p-step]="field.step"
    [p-readonly]="field.readonly"
    [p-required]="field.required"
    [p-required-field-error-message]="field.requiredFieldErrorMessage"
    [p-show-required]="field.showRequired"
    (p-additional-help)="field.additionalHelp?.($event)"
    (p-change)="onChangeField(field)"
    (p-change-model)="onChangeFieldModel(field)"
    (p-keydown)="field.keydown?.($event)"
    [p-icon]="field.icon"
    [p-placeholder]="field.placeholder"
  >
  </po-number>

  <po-decimal
    #component
    [formControl]="control"
    *ngIf="compareTo(field.control, 'decimal')"
    [name]="field.property"
    [ngClass]="field.componentClass"
    [additionalHelpEventTrigger]="field.additionalHelp ? 'event' : 'noEvent'"
    [p-additional-help-tooltip]="field.additionalHelpTooltip"
    [p-clean]="field.clean"
    [p-error-pattern]="field.errorMessage"
    [p-error-limit]="field.errorLimit"
    [p-error-async-properties]="field.errorAsyncProperties"
    [p-disabled]="isDisabled(field)"
    [p-decimals-length]="field.decimalsLength"
    [p-thousand-maxlength]="field.thousandMaxlength"
    [p-icon]="field.icon"
    [p-auto-focus]="field.focus"
    [p-help]="field.help"
    [p-label]="field.label"
    [p-locale]="field.locale"
    [p-min]="field.minValue"
    [p-max]="field.maxValue"
    [p-maxlength]="field.maxLength"
    [p-minlength]="field.minLength"
    [p-no-autocomplete]="field.noAutocomplete"
    [p-optional]="field.optional"
    [p-readonly]="field.readonly"
    [p-required]="field.required"
    [p-required-field-error-message]="field.requiredFieldErrorMessage"
    [p-show-required]="field.showRequired"
    (p-additional-help)="field.additionalHelp?.($event)"
    (p-change)="onChangeField(field)"
    (p-change-model)="onChangeFieldModel(field)"
    (p-keydown)="field.keydown?.($event)"
    [p-placeholder]="field.placeholder"
  >
  </po-decimal>
}
