.page-header {
  h1 {
    margin: 53px 0;
    font-size: 2rem;
  }

  .element {
    background-image: url("../../../assets/images/elements.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -40px;
    right: 70px;
    width: 265px;
    height: 265px;
    z-index: 1;

    @media (max-width: 960px) {
      display: none;
    }
  }
}

.page-content {
  margin-top: 40px;
  .page-content_container {
    // padding: 0 14px;

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      margin: 16px 0;
    }
  }
}

.page-header_container {
  @media (max-width: 960px) {
    margin-top: 50px;
  }
}

::ng-deep .columns-manager-button po-icon {
  font-size: 24px;
}


